datasets/
runs/
weights/
other/
*.pth
image_C_936.jpg
Thumbs.db
forme.py
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/
.env
*.env

*.cache
wandb/
mlruns/
.vscode/

yolo26n-sem.pt
yolov8n-cls.pt
yolov8n-seg.pt
